@{
    ViewData["Title"] = "Reserva no encontrada";
}

<h2>Reserva no encontrada</h2>

<p>@ViewBag.Mensaje</p>

<a asp-action="ServiciosDisponibles" class="btn btn-primary">
    Hacer nueva reserva
</a>